datasets/
.ipynb_checkpoints

Untitled.ipynb
Untitled1.ipynb

notebooks/EOF_PCA.ipynb
notebooks/Guinea_Current.ipynb
notebooks/signatures.ipynb
notebooks/ssh.ipynb
notebooks/sss.ipynb
notebooks/sst.ipynb
notebooks/Study_area.ipynb
notebooks/UI.ipynb
notebooks/Wind.ipynb

